html, Body, 
.Normal, 
td, 
div, 
p, 
.Normal, 
.NormalDisabled, 
.NormalBold {
	font-family: 'Roboto', sans-serif!important;
}
.dnn_header_right .title {
    display: none;
}
#DNNSkin_wrapper #dnn_nav {
    background: none no-repeat scroll center top #333;
}
#dnn_header .dnn_menu {
	float: right;
	clear: right;
	margin-top: 125px;
}
#DNNSkin_wrapper #dnn_header {
	min-height: 175px;
}
#DNNSkin_wrapper .dnn_breadcrumb {
    background: url("images/banner02.png") no-repeat scroll center bottom rgba(0, 0, 0, 0);
    border-bottom: 0px solid #84cf2a;
    min-height: 240px;
    padding: 36px 0;
}
#dnn_dnnLOGO_imgLogo {
    border: 0 none;
    height: auto;
    padding-left: 0px;
}



/* menu */

.dnn_menu #StandardMenu .rootMenu > li {
    font-family: "Roboto", sans-serif;
}
.dnn_menu #StandardMenu .rootMenu > li.first {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
}
.dnn_menu #StandardMenu .rootMenu > li.selected > a, .dnn_menu #StandardMenu .rootMenu > li.breadcrumb > a, .dnn_menu #StandardMenu .rootMenu > li.rmhover > a .dnn_menu #StandardMenu .rootMenu > li > a:hover {
    background: none repeat scroll 0 0 #fff;
    border-radius: 3px;
}
.dnn_menu #StandardMenu .rootMenu > li > a:hover {
    background: none repeat scroll 0 0 #fff;
}
.dnn_menu #StandardMenu .rootMenu li.rmhover a span, .dnn_menu #StandardMenu .rootMenu li.breadcrumb a span {
    color: #ffffff;
}
.dnn_menu #StandardMenu .rootMenu li a {
    cursor: pointer;
    display: block;
    float: none;
    margin-left: 3px;
    position: relative;
    text-decoration: none;
    z-index: 10;
}
.dnn_menu #StandardMenu .rootMenu li.selected a, .dnn_menu #StandardMenu .rootMenu li.rmHover a, .dnn_menu #StandardMenu .rootMenu li.breadcrumb a, .dnn_menu #StandardMenu .rootMenu li:hover a, .dnn_menu #StandardMenu .rootMenu li a:hover {
    text-decoration: none;
    transition: background 0.4s ease 0s;
    background-color: #fff;
}
.dnn_menu #StandardMenu .rootMenu li a span {
    color: #0e726f;
    display: block;
    font-size: 19px;
    line-height: 30px;
    padding: 0 8px;
    white-space: nowrap;
}
.dnn_menu #StandardMenu .rootMenu li.selected a span, 
.dnn_menu #StandardMenu .rootMenu li.rmHover a span, 
.dnn_menu #StandardMenu .rootMenu li.breadcrumb a span, 
.dnn_menu #StandardMenu .rootMenu li:hover a span, 
.dnn_menu #StandardMenu .rootMenu li a:hover span {
    color: #ce7416;
}
.dnn_menu #StandardMenu .subMenu {
    display: none;
    position: absolute;
    top: 30px;
    z-index: 1210;
}
.dnn_menu #StandardMenu .rootMenu li.rmHover .subMenu {
    display: block;
}
.dnn_menu #StandardMenu .subMenu ul {
    background: none repeat scroll 0 0 #ffffff;
    margin: 0;
    min-width: 200px;
    opacity: 0.8;
    padding: 0;
    position: relative;
    z-index: 1200;
}
.dnn_menu #StandardMenu .subMenu li {
    border-bottom: 1px solid #a6a2a2;
    clear: both;
    float: none;
    padding: 0;
    position: relative;
    width: 100%;
}
.dnn_menu #StandardMenu .subMenu li.item a {
    border-bottom: 0px solid #efdfdf;
}
.dnn_menu #StandardMenu .subMenu li.last > a {
    border-bottom: medium none;
}
.dnn_menu #StandardMenu .subMenu li.item a span {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
    border-bottom: medium none;
    color: #101010;
    display: block;
    font-size: 12px;
    font-weight: normal;
    line-height: 28px;
    margin: 0;
    padding: 0 10px 0 18px;
    text-shadow: none;
    text-transform: none;
    white-space: nowrap;
}
.dnn_menu #StandardMenu .subMenu li.selected > a span, .dnn_menu #StandardMenu .subMenu li.breadcrumb > a span {
    color: #ce7416;
}
.dnn_menu #StandardMenu .subMenu li.item a:hover span {
    color: #ce7416;
    cursor: pointer;
}
.dnn_menu #StandardMenu .subMenu li.last, .dnn_menu #StandardMenu .subMenu li.last > a {
    border: medium none;
}
.dnn_menu #StandardMenu ul li ul li ul {
    margin: 0;
    width: 180px;
}
.dnn_menu #StandardMenu ul li ul li ul.level1 {
    display: none;
    left: 180px;
    position: absolute;
    top: -1px;
}
.dnn_menu #StandardMenu ul li ul li ul li ul {
    display: none;
}
.dnn_menu #StandardMenu ul li ul li ul li:hover ul.level2 {
    display: block;
    left: 180px;
    position: absolute;
    top: -1px;
}
.dnn_menu #StandardMenu ul li ul li ul li ul li ul {
    display: none;
}
.dnn_menu #StandardMenu ul li ul li ul li ul li:hover ul.level3 {
    display: block;
    left: 180px;
    position: absolute;
    top: -1px;
}
.dnn_menu #MegaMenu {
    float: right;
    margin: 0 auto;
    position: relative;
}
.dnn_menu #MegaMenu ul {
    list-style: outside none none;
    margin: 0;
    padding: 0;
}
.dnn_menu #MegaMenu li {
    display: block;
    float: left;
    list-style-type: none;
    margin-right: 1px;
    position: relative;
    z-index: 920;
}
.dnn_menu #MegaMenu .root li a {
    cursor: pointer;
    display: block;
    float: none;
    margin-left: 3px;
    position: relative;
    text-decoration: none;
    z-index: 10;
}
.dnn_menu #MegaMenu .root li.selected a, .dnn_menu #MegaMenu .root li.rmHover a, .dnn_menu #MegaMenu .root li.breadcrumb a, .dnn_menu #MegaMenu .root li:hover a, .dnn_menu #MegaMenu .root li a:hover {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
    text-decoration: none;
    transition: background 0.4s ease 0s;
}
.dnn_menu #MegaMenu .root li.breadcrumb > a, .dnn_menu #MegaMenu .root > li:hover > a, .dnn_menu #MegaMenu .root > li.rmhover > a {
    background: none repeat scroll 0 0 #fff;
}
.dnn_menu #MegaMenu .root > li.breadcrumb a span, .dnn_menu #MegaMenu .root li:hover a span {
    color: #ffffff;
}
.dnn_menu #MegaMenu .root > li > a > span {
    font-family: "oswald",Arial,Helvetica,sans-serif;
}
.dnn_menu #MegaMenu .root li a span {
    color: #101010;
    display: block;
    font-size: 18px;
    height: 30px;
    line-height: 30px;
    padding: 0 13px;
    text-shadow: none;
    text-transform: none;
    white-space: nowrap;
}
.dnn_menu #MegaMenu .root li.selected a span, .dnn_menu #megaMenu .root li.rmHover a span, .dnn_menu #megaMenu .root li.breadcrumb a span, .dnn_menu #megaMenu .root li:hover a span, .dnn_menu #megaMenu .root li a:hover span {
    color: #ffffff;
}
.dnn_menu #MegaMenu .category {
    background: none repeat scroll 0 0 #ffffff;
    border: medium none;
    border-radius: 4px;
    box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.4);
    display: none;
    opacity: 0.8;
    padding: 5px 10px 12px;
    position: absolute;
    top: 30px;
    width: 346px;
    z-index: 1210;
}
.dnn_menu #MegaMenu ul li:hover ul {
    visibility: visible;
}
.dnn_menu #MegaMenu .root li.rmHover .category {
    display: block;
}
.dnn_menu #MegaMenu .category ul {
    margin: 0;
    padding: 0;
    position: relative;
    z-index: 1200;
}
.dnn_menu #MegaMenu .category li {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
    padding: 0;
    width: 170px;
}
.dnn_menu #MegaMenu .category li.item a {
    background: url("images/dnn_mega_sub_bottom.png") no-repeat scroll left bottom transparent;
    border: medium none;
    padding: 0 10px;
    white-space: normal;
}
.dnn_menu #MegaMenu .category li.item a span {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
    color: #101010;
    display: block;
    font-size: 12px;
    font-weight: normal;
    height: auto;
    line-height: 28px;
    padding: 0;
    text-shadow: none;
    text-transform: none;
}
.dnn_menu #MegaMenu .category li:hover {
}
.dnn_menu #MegaMenu .category li.item a:hover span {
    color: #84cf2a;
    cursor: pointer;
}
.dnn_menu #MegaMenu .category li.selected {
}
.dnn_menu #MegaMenu .category li.selected > a span {
    color: #84cf2a;
}
.dnn_menu #MegaMenu ul li ul li ul {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
    border: medium none;
    padding: 0;
    position: relative;
    width: auto;
}
.dnn_menu #MegaMenu .leaf li {
    clear: both;
    float: none;
    width: 150px;
}
.dnn_menu #MegaMenu .leaf li.item a {
    background: url("images/right.gif") no-repeat scroll left 15px transparent;
    border-bottom: medium none;
    font-size: 12px;
    line-height: 1em;
    padding: 0 0 0 6px;
    text-transform: none;
}
.dnn_menu #MegaMenu .leaf li.item a span {
    background: none repeat scroll 0 0 transparent;
    color: #555555;
    display: block;
    font-size: 12px;
    font-weight: normal;
    height: auto;
    line-height: 35px;
    padding: 0;
    text-transform: none;
}
.dnn_menu #megaMenu ul li ul li ul li a {
    background: url("images/right.gif") no-repeat scroll left 12px rgba(0, 0, 0, 0);
    border-bottom: medium none;
    color: #ffffff;
    font-size: 12px;
    line-height: 1em;
    padding: 8px 0 8px 5px;
    text-transform: none;
}
.dnn_menu #MegaMenu ul li ul li ul li a:hover {
    text-decoration: underline;
}
@media screen and (max-width: 767px) {
	#MegaMenu {
	    margin: 0 auto;
	    width: 98%;
	}
	#MegaMenu ul {
	    margin: 0 auto;
	    padding: 0;
	}
	#MegaMenu .root {
	    border: medium none;
	    float: none;
	}
	#MegaMenu .root li {
	    background: none repeat scroll 0 0 transparent;
	    float: none;
	    list-style: outside none none;
	    margin-bottom: 2px;
	    text-align: left;
	    width: 100%;
	}
	#MegaMenu .root > li {
	    background: none repeat scroll 0 0 #dbdbdb;
	    border: 1px solid #aeaeae;
	}
	#MegaMenu .root li a {
	    display: block;
	    padding: 0;
	}
	#MegaMenu .root > li.selected > a, #MegaMenu .root li.rmHover a, #MegaMenu .root > li > a:hover {
	    background: none repeat scroll 0 0 #fff;
	    text-decoration: none;
	}
	#MegaMenu .root > li.selected > a > span, #MegaMenu .root > li.rmHover > a > span, #MegaMenu > .root li > a:hover > span {
	    color: #ffffff;
	}
	#MegaMenu .root li a span {
	    color: #afa3a3;
	    display: block;
	    font-family: Arial,Helvetica,sans-serif;
	    font-size: 14px;
	    font-weight: normal;
	    height: 38px;
	    line-height: 38px;
	    margin: 0;
	    padding: 0 20px;
	    position: relative;
	    text-shadow: none;
	    text-transform: uppercase;
	    white-space: nowrap;
	}
	#MegaMenu .root li.selected a span, #MegaMenu .root li.breadcrumb a span, #MegaMenu .root li.rmHover a span, #MegaMenu .root li:hover a span, #MegaMenu .root li a:hover span {
	    text-decoration: none;
	}
	#MegaMenu .root a span .navarrow {
	    background: url("images/mobile_navarrow.png") no-repeat scroll center 0 transparent;
	    height: 38px;
	    margin-right: 0;
	    position: absolute;
	    right: 0;
	    width: 60px;
	}
	#MegaMenu .root li.selected a span .navarrow, #MegaMenu .root li.breadcrumb a span .navarrow, #MegaMenu .root li.rmHover a span .navarrow, #MegaMenu .root li:hover a span .navarrow, #MegaMenu .root li a:hover span .navarrow {
	    background: url("images/mobile_navarrow.png") no-repeat scroll center 0 transparent;
	    margin-right: 0;
	}
	#MegaMenu .root a span .navarrow2 {
	    background: url("images/mobile_navarrow.png") no-repeat scroll center -42px transparent;
	    height: 38px;
	    margin-right: 0;
	    position: absolute;
	    right: 0;
	    width: 60px;
	}
	#MegaMenu .root li.selected a span .navarrow2, #MegaMenu .root li.breadcrumb a span .navarrow2, #MegaMenu .root li.rmHover a span .navarrow2, #MegaMenu .root li:hover a span .navarrow2, #MegaMenu .root li a:hover span .navarrow2 {
	    background: url("images/mobile_navarrow.png") no-repeat scroll center -42px transparent;
	    margin-right: 0;
	}
	#MegaMenu .category {
	    background: none repeat scroll 0 0 transparent;
	    display: none;
	    font-size: 13px;
	    left: 0;
	    margin: 0;
	    padding: 0;
	    position: static;
	    width: auto;
	}
	#MegaMenu .category ul {
	    border-top: 2px solid #84cf2a;
	}
	#MegaMenu .category li {
	    clear: both;
	    float: none;
	    margin: 0;
	    opacity: 1;
	    padding: 0;
	    width: 100%;
	}
	#MegaMenu .category li.item a {
	    border-bottom: 1px solid rgba(0, 0, 0, 0.15);
	    height: auto;
	    margin: 0;
	    opacity: 1;
	    padding: 0;
	}
	#MegaMenu .category li.haschild > a {
	}
	#MegaMenu .category li.last > a {
	    border-bottom: medium none;
	}
	#MegaMenu .category li li.item a {
	    border-bottom: 1px solid rgba(0, 0, 0, 0.15);
	}
	#MegaMenu .category li.item a span {
	    background: none repeat scroll 0 0 transparent !important;
	    color: #84cf2a;
	    font-size: 12px;
	    height: 28px;
	    line-height: 28px;
	    padding: 0 20px 0 25px;
	    text-transform: capitalize;
	}
	#MegaMenu .category li.item a:hover {
	    text-decoration: none;
	}
	#MegaMenu .category li.item > a:hover {
	    background: none repeat scroll 0 0 #fff;
	}
	#MegaMenu .category li.item a:hover span {
	    color: #ffffff;
	    cursor: pointer;
	    height: 28px;
	    line-height: 28px;
	    padding: 0 20px 0 25px;
	    text-decoration: none;
	}
	#MegaMenu .category li.selected > a span {
	    color: #ffffff !important;
	}
	#MegaMenu .category li.selected > a, #MegaMenu .category li.breadcrumb > a #MegaMenu .category li.breadcrumb.haschild > a {
	    background: none repeat scroll 0 0 #fff;
	}
	#MegaMenu .category li.selected.haschild a, #MegaMenu .category li.item.haschild > a:hover {
	    background: none repeat scroll 0 0 #fff;
	}
	#MegaMenu .category li.selected a, #MegaMenu .leaf li.selected a, #MegaMenu .category li.selected.haschild > a {
	}
	#MegaMenu .leaf {
	    background: none repeat scroll 0 0 transparent;
	    border: medium none;
	    display: block;
	    margin: 0;
	    position: static;
	    top: 0;
	    width: auto;
	}
	#MegaMenu .leaf li.last > a {
	    border-bottom: 1px solid rgba(0, 0, 0, 0.15);
	}
	#MegaMenu .leaf li.item a span {
	    background: none repeat scroll 0 0 transparent !important;
	    display: block;
	    font-size: 12px;
	    font-weight: normal;
	    height: 28px;
	    line-height: 28px;
	    padding: 0 20px 0 30px;
	    text-transform: none;
	    white-space: nowrap;
	}
	#MegaMenu .leaf li li.item a span {
	    padding: 0 35px;
	}
	#MegaMenu .leaf li li li.item a span {
	    padding: 0 35px 0 45px;
	}
	#MegaMenu .leaf li.selected > a span {
	    background: none repeat scroll 0 0 #444444;
	}
	#MegaMenu .category li.rmhover > .leaf {
	    display: block;
	}
	#MegaMenu .leaf li li, #MegaMenu .leaf li li li {
	    width: auto;
	}
}

/* //menu */

#Business-20150-YellowGreen .Container2 .DNNHead1, 
#Business-20150-YellowGreen .Container4 .DNNHead1, 
#Business-20150-YellowGreen .Container6 .DNNHead1, 
#Business-20150-YellowGreen .Container8 .DNNHead1, 
#Business-20150-YellowGreen .Container10 .DNNHead1, 
#Business-20150-YellowGreen .Container12 .DNNHead1 {
    color: #0e726f;
    font-family: "Roboto",sans-serif;
    font-size: 24px;
    font-weight: normal;
}
#Business-20150-YellowGreen .Container8 .title {
    display: block;
    float: left;
    height: 32px;
    line-height: 32px;
    margin-bottom: 10px;
}
#dnn_Layout {
	padding-top: 10px;
}

a:link, a:active, a:visited {
    color: #ce7416;
    text-decoration: none;
}

.latestnews > div {
	margin-bottom: 10px;
}
.span7 .Container8 {
	padding: 0 20px 0 0;
}

.intro {
	font-weight: 500;
}

#DNNSkin_wrapper #dnn_bottom {
    background-color: #1a1919;
    min-height: 140px;
    padding-top: 10px;
    border-bottom: solid 3px #ce7416;
}